<!DOCTYPE html>
{% extends "wpb/base.html" %}
    {% block body_block%}
    <body style="font-family:Palatino Linotype">

    <div class="container">
      <div class="jumbotron">
        <h1>О проекте</h1>
        <p>Проект был создан из интереса к теориям заговора и истории. Многие не доверяют таким теориям, однако разве из истории мало примеров того,
         как горстка людей манипулировала массами, при этом оставаясь в тени? Существует много способов спрятать правду, даже если она у всех на виду. В статьях я пытаюсь по
        возможности ссылаться на официальные источники, чтобы не было впечатления, что все это мои домыслы. </p>
        <p>Здесь вы можете всерьез задуматься и заново переосмыслить вещи, которые раньше вам казались понятными или просто получить удовольствие,
         погрузившись в историю или психологию.</p>
      </div>

    </div>



  </body>

  <!-- Need to have JQuery and Javascript for DropDown Actions to work -->

  {% endblock %}
