<!DOCTYPE html>
{% extends "wpb/base.html" %}
    {% block body_block%}
    <body style="font-family:Palatino Linotype">

  <div class="container">
    <div class="jumbotron">
      <h3>Связаться со мной можно по нижеследующим контактным данным:</h3>
<ul>
  <li>Электронная почта: <a href="mailto:kamalvalikhanov@hotmail.com">kamalvalikhanov@hotmail.com</a></li>
  <li>LinkedIn: <a href="https://www.linkedin.com/in/kamal-valikhanov-815b1143/" target="_blank">https://www.linkedin.com/in/kamal-valikhanov-815b1143/</a></li>

</ul>
    </div>

  </div>

</body>



  <!-- Need to have JQuery and Javascript for DropDown Actions to work -->

  {% endblock %}
