<!DOCTYPE html>
{% extends "wpb/base.html" %}
    {% block body_block%}

<title>Как США развалили СССР</title>
<body style="font-family:Palatino Linotype">


<h1>Как США развалили СССР</h1>
<p>В этой статье я попытаюсь показать, как США намеренно развалили СССР. В частности, я хочу доказать, что замороженные конфликты на территории бывшего СССР были созданы со стороны США как часть плана по
  развалу Советского Союза. Понимаю, что версия не популярна, однако попытаюсь ее оспорить, сравнивая официальные причины распада СССР с альтернативной
  трактовкой. Также хочу отметить, что сам я являюсь сторонником падения СССР,
  учитывая, сколько страданий советский режим принес своим народам. Причина, по которой я написал эту статью, - это желание найти правду в процессе
   развала Советского Союза, который принес столько жертв, в том числе и Азербайджану.
</p>

<p>Впервые версию про то, что Карабах, Приднестровье и другие конфликты спланировали США, я услышал от своего учителя по истории во время подготовки к бакалавру. Она показалась мне
   нереальной, однако, чем дальше я думал,
тем очевидней становилось, что тут есть над чем задуматься. Учитель указал мне, пожалуй, на главный фактор - развал СССР был выгоден США, а межнациональные
 конфликты привели к этому развалу. России было не выгодно устраивать сепаратизм на собственной территории. </p>
 <p>Большинство кризисов, ставших причиной
 падения СССР, произошли при Михаиле Горбачеве.
Он пришел к власти в марте 1985 года, и с его приходом государство постиг удар за ударом.
Экономический спад, межнациональные
конфликты, Чернобыльская авария и другие кризисы случились именно в промежуток правления Горбачева. То, как правил Горбачев, какие ошибки он допускал - многие списывают это
на его бездарность, однако я считаю, что его цель была развалить государство, которым он правил. И сегодня половина населения бывшего СССР считает его виновным в развале
государства. А в августе 1991 ряд людей, занимавших ключевые посты в правительстве СССР, объединились в орган, назвавшийся Государственным Комитетом
 по Чрезвычайному Положению (ГКЧП), обвинили Горбачева в измене и попытались взять правление в свои руки, хоть и безуспешно.
</p>
<p>Итак, сравним официальные причины падения СССР с моей версией.
Официальных теорий несколько:
</p>

<ul>
  <li>Падение цен на нефть</li>
  <li>Чернобыльская авария</li>
  <li>Внутренние межнациональные конфликты</li>
  <li>Неудачная "Перестройка"</li>

</ul>
<p>Разберем каждую из них отдельно.</p>
<h3>Падение цен на нефть</h3>
<p>В 50-х и 60-х годах XX века в Сибири нашли огромные запасы нефти. Начинается промышленное производство. В 70-х по различным политическим причинам
  (нефтяное эмбарго арабских стран против сторонников Израиля, Ирано-Иракская война и так далее)
  цены на нефть резко подскочили, что сильно увеличило валютные доходы СССР. Одновременно с этим у СССР наблюдалось постоянное отставание в производительности труда,
  в технологиях. Все это Советский Союз часто пытался восполнить покупкой оборудования на Западе.  Это также отмечается
   <a href="https://www.cia.gov/library/readingroom/docs/DOC_0000499825.pdf" target="_blank"> в отчете ЦРУ</a>. В 50-х отставание было гораздо меньше,
   однако с началом притока
  нефтяных долларов правительство отложило проведение реформ по повышению продуктивности, в результате чего разница в производительности стала расти.
  Также, несмотря на наличие самой большой территории в мире, СССР закупал огромное количество продовольствия заграницей. Например, зерно закупалось
  в Канаде.
   Дополнительную проблему создавало то,
  что Советский Союз продолжал наращивать военно-промышленный комплекс, финансировать лояльные СССР марионеточные режимы по всему миру, тратя на
  это огромные деньги в валюте.
</p>
<p>

  <a href="https://pbs.twimg.com/media/B7kSFG9CEAAsE7o?format=png&name=small" target="_blank">
    <img src="https://pbs.twimg.com/media/B7kSFG9CEAAsE7o?format=png&name=small" alt="" style="float: left;">
  </a>

  Правительство президента США Никсона в 1971 году наложило лимит на цены на нефть и бензин с целью противодействия инфляции. Этот лимит отменил в
   1981 году президент Рейган, который дерегулировал рынок нефти, позволив компаниям продавать нефть по рыночным ценам.
  Это привело к кратному росту производства нефти стран, не входящих в ОПЕК.
  В частности, США сократило долю импорта в потреблении нефти с 45% в 1977 до 28% в 1982.
  <a href="https://www.cfr.org/timeline/oil-dependence-and-us-foreign-policy" target="_blank">¹</a>
   Цены на энергоресурсы стали падать, и Саудовская Аравия, захотев не допустить падение рынка, сократила производство. Согласно договору,
  другие страны ОПЕК тоже должны были сократить добычу, однако не всегда этому следовали. В 1985 году, устав от того, что несет бремя одна,
  Саудовская Аравия, нарастила добычу, что опустило цены в несколько раз, вплоть до $10 за баррель в течение нескольких месяцев 1986.
  <a href="https://www.brookings.edu/wp-content/uploads/2016/06/Falling-Oil-Prices-English.pdf" target="_blank">²</a>
Экономика СССР, которая привыкла к высоким ценам на углеводороды, перестала уделять внимание развитию производства технологий, машин и оборудования
 внутри страны, бездарно обошлась с сельским хозяйством, рухнула. Если бы СССР был самодостаточным государством, которое производило бы все необходимое
  для своих граждан внутри страны, то такого кризиса бы не было, однако необходимость закупать продовольствие заграницей за валюту поставило экономику
   СССР на грань краха.

</p>
<p>До сих пор были только факты. В пользу теории о том, что за падением цен на нефть стоят США, я считаю, что дерегуляция рынка в США и рост производства
   Саудовской Аравии могли вполне быть спланированы.
  Падение СССР было выгодно всему Западному миру, а Саудиты являются близким союзником США. Арабы могли спустить цены в обмен на какие-то выгоды, в том числе и по
нефтяному рынку. Это также могли быть поставки оружия по заниженной цене, координация общей политики на Ближнем Востоке.</p> <p> Цены на нефть продолжили вредить России и после падения
  СССР, оставаясь на низком уровне вплоть до конца 90-х,
  что стало одним из главных факторов дефолта уже современной России в 1998.
  Отказ России в марте 2020 сотрудничать с ОПЕК, последующее наращивание добычи со стороны Саудовской Аравии и резкое падение цен на нефть
   вновь стало доказательством того, как сильно зависит нефтяной рынок от воли всего одной страны.
</p>
<h3><br>Чернобыльская авария</h3>
<p>
Конечно, может показаться кощунственным обвинение США в столь трагической аварии. Однако, учитывая роль, которую она сыграла в падении СССР,
 над этой версией стоит задуматься. Сам Горбачев <a href="https://www.bbc.com/ukrainian/ukraine_in_russian/2016/04/160430_ru_s_foreign_press" target="_blank">
  признал</a>, что Чернобыльская трагедия являлась одной из главных причин развала СССР.
</p>
<p> Она привела к падению авторитета центральной власти. Правительство СССР не
 только не смогло предотвратить кризис, о возможности которого его предупреждали многие,
 <a href="https://www.bbc.com/ukrainian/ukraine_in_russian/2016/04/160430_ru_s_foreign_press" target="_blank">
   в том числе и КГБ,</a> но и не сразу
 сказало всю правду населению. Существовал огромный разрыв между информацией, которую давало правительство, и тем, что говорили в соседних
 странах, которые также пострадали от катастрофы в результате загрязнения. Постепенно властям пришлось рассказать правду народу, однако
  к тому времени уже случился кризис власти.

</p>
<p>Ядерная энергетика наряду с победой в Великой Отечественной Войне и отправкой первого человека в космос являлась одним из инструментов
 пропаганды в СССР как примеров превосходства социализма над капитализмом. Поэтому трагедия на Чернобыльской атомной электростанции
 так сильно ударила по авторитету правительства Советского Союза. </p>
 <p>
<a href="https://www.economist.com/europe/2016/04/26/a-nuclear-disaster-that-brought-down-an-empire" target="_blank">Согласно популярному изданию
   "The Economist"</a>, а также по словам самого Горбачева, именно ложь, которую говорило руководство страны населению,
чтобы скрыть правду, стала одним из важнейших факторов в развале СССР.
 </p>
 <p>Кроме репутационного урона авария также нанесла огромные финансовые убытки, которые продолжают нарастать ввиду ядерного загрязнения.
   <a href="https://un.by/en/un-news/v-mire/4571-posle-chernobylya-gomelskaya-oblast-vozvrashchaetsya-k-zhizni" target="_blank">
     Согласно ООН,</a> стоимость аварии только для современной Белоруссии составляет 235 миллиардов долларов. СССР тратил огромные деньги для
   ликвидации последствий аварии: выплаты семьям пострадавших, ликвидация загрязнений и так далее.</p>
   <p>Можно указать на огромный вред, который принесла эта авария даже для западных стран, и сказать, что США, учитывая масштаб аварии не только
   для Советского Союза, но и для всего мира, не стала бы такого делать. Однако, США могли бы привести аргумент, что СССР, как зло, принесло и могло
 бы принести гораздо больше зла, чем эта трагедия.</p>
<h3>Межнациональные конфликты</h3>
<p>Теперь посмотрим на то, что объединяет конфликты на почве сепаратизма, возникшие в СССР в период власти Горбачева. Все начаты в период перестройки.
Во всех конфликтах стороны говорят одно и то же: "70 лет при Советской власти жили мирно, не знаем откуда пришла война". Во всех конфликтах
обе стороны указывали на присутствие третьей силы и невмешательство Центра. Все конфликты до сих пор держит в руках Россия. </p>
<p>Конечно, споры между сторонами были и задолго до 80-х. Так, например, еще в середине века армяне не раз поднимали вопрос о присоединении
   Карабаха к Армении, но в этих конфликтах нельзя не отметить крайне высокий уровень спланированности. Массовое дезертирство солдат, предательство высокопоставленных чиновников
    в армии и КГБ, отказ местных сил армии и полиции вмешиваться, а иногда и наоборот, их вмешательство на стороне врага - такого военного плана у
них самих возникнуть не могло. Им помогли. На самом высоком уровне. Большинство обозревателей указывает на то, что все действия Центра привели
к еще большему росту сепаратизма. Есть <a href="https://www.kommersant.ru/doc/49973?isSearch=True" target="_blank">доказательства</a> участия российских солдат
на обоих сторонах, хотя Россия утверждает, что они воевали по собственной воле. К примеру, советские войска участвовали
в геноциде в Ходжалы. Тела российских солдат нередко передавались России.</p> <p>В лучшем случае власти не вмешивались, когда было необходимо. Сначала армяне начали провокации, которые переросли в
полномасштабную войну, затем предательство внутри самого Азербайджана, приведшее к отставке президента Муталибова, который бежал в Москву, и массовое дезертирство.
 Приход к власти Народного Фронта тоже не привел к улучшению ситуации, и Азербайджан потерял контроль над регионом.</p>
<p>Однако, самым подозрительным является невмешательство сил правопорядка и армии. Причем не выполняли они своих обязанностей не только
  во время Карабахского конфликта, но и во время Сумгаитских погромов, массового выселения азербайджанцев из Армении и в других случаях.³
   Ведь их прямой обязанностью было предотвратить сепаратизм внутри страны, который мог привести и привел в конечном итоге к ее развалу. Было такое
   чувство, что Москве выгодна эскалация, но зачем? <a href="https://iz.ru/news/575877" target="_blank">Вот слова бывшего председателя Совета министров
      СССР Николая Рыжкова об отношении Горбачева к конфликтам, в частности к Карабахскому: </a> "Как только конфликт возникал, каждому обещал дать то, что тот
       просил. Так и с Карабахом. В Баку Лигачева отправлял, а в Ереван — Яковлева. И каждый из них свое людям обещал..."
</p>
<p>Есть популярная на Западе версия по этому поводу. КГБ в середине 80-х, понимая, что СССР неизбежно развалится, создавал и контролировал эти
   конфликты на территории постсоветских стран чтобы после обретения ими независимости держать их на поводке и не допустить
 их входа в НАТО. Разделять и управлять, сталкивая лбом народы, как Россия, как и другие колониальные державы, всегда делала. Согласно этой версии, Россия, угрожая потерей территорий, до сих пор
 удерживает постсоветские страны в зоне своего влияния.
Так, например, в случае присоединения Армении к НАТО Россия грозится передать Карабах Азербайджану и наоборот. В поддержку этой версии выступает
то, что Россия до сих пор так делает, даже после обретения независимости. Так, она вторглась в Грузию в 2008 и в Украину в 2014,
 не желая мириться с выходом этих стран из сферы своего влияния.</p>
<p>Однако, у этой версии есть две слабые стороны.</p>
<p> Во-первых, сепаратизм ускорил распад СССР. СССР мог бы воспользовался успешным опытом Китая по переходу от социализма к рыночной экономике, который
 начал реформы в 1978 году. То есть на момент начала "перестройки" у СССР был семилетний опыт такой же социалистической страны.
Почему нужно было рушить страну? Почему нельзя было по примеру Китая оставить коммунизм у власти, начать рыночные реформы и снизить зависимость от нефти. Россия никогда
не стала бы так мириться с потерей территорий, расшатывая собственную страну.</p>
<p>Вторая слабость вышеупомянутой версии - Чеченская война. Если принять, что Россия устроила конфликты в Молдавии, Грузии, Азербайджане, то
  зачем делать это в собственной стране? Ведь Чеченский конфликт схож с другими: начался в середине 80-х и до этого все жили сравнительно
мирно. Война помогла расшатать страну изнутри. Чечне удалось получить независимость от России, что было немыслимо, учитывая расклад сил. В один момент министр обороны РФ Грачев распорядился
передать чеченцам оружие на складах, мотивируя это тем, что большую часть оружия и так разворована, а оставшуюся нельзя вывести за отсутствием
солдат, которые были выведены с территории Чечни ранее. Такое трудно представить, чтобы Россия так просто сдала территорию. Это показывает
продажность власти в России в тот период, причем на самом высоком уровне.
Конфликт просто сыграл свою роль в развале СССР. </p>
<p>США необходимы эти конфликты, потому что они помогли развалить СССР изнутри. Они также стали причиной ненависти этих народов к России как зачинщице,
  что гарантировало враждебный настрой к России даже после развала коммунизма.
   Например, когда раньше русских упрекали в том, что они отобрали Крым у братской Украины, они спрашивали, как может братская Украина идти на Запад,
    и говорили что, вернут Крым, который был взят без единого выстрела когда Украина вернется к России. Но после начала военных действий в Донецке и Луганске
   когда погибли люди, даже самые лояльные России люди в Украине уже никогда не захотят быть со страной, которая отняла у них территории и убила их
соотечественников. Очень многие пророссийски настроенные люди поменяли свое отношение к России из-за войны.</p>
<p>Реакцию Путина на события в Украине в виде ввода войск даже президент Белоруссии Лукашенко назвал эмоциональной. А что если это снова была
провокация Запада? Говорят, что Россия без Украины не может быть державой. А может надо было поссорить две славянские страны? Если между ними война,
 то ведь они никогда уже не будут союзниками.</p>
 <p>Хочу еще раз подчеркнуть, что я вовсе не на стороне России. В данный момент она удерживает ключи от решения всех замороженных конфликтов, и,
    вероятно, с развалом России они и решатся.</p>
<h3>Неудачная "Перестройка"</h3>
<p><a href="https://iz.ru/news/575877" target="_blank">В статье газеты "Известия"</a> бывший председатель Совета министров СССР Николай Рыжков
  говорит о том, что перестройка готовилась еще в начале 80-х со стороны Андропова и что Горбачев использовал плоды именно этих трудов. Интересно
   то, что, по словам Рыжкова, Андропов сильно интересовался китайским опытом построения экономики на основе реформ, начатых еще в 1978 году. Почему же
    так бездарно была проведена попытка смены экономической формации? Если бы СССР был бы первой страной, столкнувшейся с проблемой смены строя,
    то можно было бы понять, но на момент прихода Горбачева к власти у страны был семилетний опыт Китая, который, оставив Коммунистическую Партию
    у власти, смог перейти на рыночные рельсы, занимая сегодня вторую строчку в рейтинге стран по объему ВВП.

</p>
<p>Помимо этого, основой СССР, как отмечено и в его
конституции, был социализм, и, объявив о свободных выборах и построении рыночной экономики, Горбачев фактически разрушил идеологический фундамент СССР. Ведь зачем без построения общего
коммунизма Украине или Казахстану быть в составе России? Чего удивляться тому, что уже в конце 80-х многие постсоветские страны не подчинялись центральной власти, а в начале 90-х
 начался парад суверенитетов.
</p>


<h3>Партии "Народный Фронт ..."</h3>
<p>Будучи азербайджанцем и зная про партию "Народный Фронт Азербайджана", которая сыграла важную роль в истории страны, особенно в 90-х, я очень удивился, когда узнал,
  что партии с такими же названиями, а, главное,
и целями были и в других постсоветских странах. </p>
<p><b>Народный Фронт Молдовы.</b> Был основан в 1989 году на. Предшественником было "Демократическое движение в поддержку перестройки". Партия
  сначала поддержала перестройку, затем стала требовать независимость Молдовы.
  Организовывала многотысячные демонстрации
 в стране. Распалась в 1993. </p>
 <p><b>Народный Фронт Азербайджана.</b> Создан в 1988 году. Идеи партии поддерживали перестройку. После объединения с партией "Варлыг" заявления
   партии стали более националистическими. Часть старых членов партии стала требовать независимости страны. Митинги партии привели к отставке
   президента Муталибова, который оказался агентом России. Лидер этой партии Абульфаз Эльчибей был избран президентом в 1992.
 </p>
<p><b>Народный Фронт Эстонии.</b> Официальное название – Народный фронт в поддержку перестройки. Создан в 1988 году. В 1989 году стала требовать
  независимости.
</p>
  <p>Такие же "Народные Фронты" были в Латвии, Литве ("Саюдис"), Грузии. Отдельно внутри Грузии Народный Фронт Абхазии и Народный Фронт Северной
  Осетии требовали отделения от Грузии. </p>
<p>Странно ведь, партии с одинаковым периодом основания, идеями и даже, в большинстве случаев, названиями были созданы на территории СССР с целью
поддержки перестройки, а затем и независимости. Это же сделал и Горбачев: сначала перестройка, а затем и развал государства.</p>
<p>Положим, что одна партия была пионером, остальные взяли ее как пример. Но тут слишком много совпадений: время создания, цели, названия. И все это параллельно с другими
  кризисами. Одно из этих совпадений могло бы иметь объяснение, но все одновременно ...</p>
  <p>С информацией об этом я столкнулся случайно, и это оказало сильное влияние на желаение написать эту статью. Если попытаться связать это с другими
   параллельно происходящими событиями, то картина начинает выстраиваться. Чтобы развалить такое огромное государство как СССР понадобилось бы
 нанести удары со всех сторон. Тогда становится понятным, насколько хорошо вписываются туда "Народные Фронты". </p>
<h3>Карательные операции в Баку, Тбилиси, Риге, Вильнюсе</h3>
<p>Митинги за независимость шли полным ходом в республиках в конце 80-х - начале 90-х. При этом даже в самых непокорных странах бывшего СССР все еще оставалось огромное количество
  людей, лояльных советскому режиму.
В апреле 1989 года армия и МВД разогнали митинг в Тбилиси. Более 20 погибших и несколько сотен пострадавших. Верхушка СССР будет отказываться от ответственности, хотя многие, в том
числе и генерал Игорь Родионов, командующий войсками Закавказского военного округа и руководитель разгона митинга в своем интервью газете "Московские новости" под названием
"Страну проиграл Горбачёв", намекали на то, что только Горбачев мог отдать приказ о разгоне митингующих. Кровавые события еще более мотивировали грузин на объединение и отделение от СССР.</p>
<p>Ввод войск в Баку в январе 1990 также закончился жертвами среди мирного населению, только их тут было гораздо больше - около двух сотен. Безоружные люди ложились под танки, в то
время как Советским войскам говорили о нескольких тысячах вооруженных боевиков. Многие журналисты и расследования утверждают о применении силы к невинным гражданам без какой-либо необходимости.
</p>
<p>Подобные события произошли и в других городах СССР. В Вильнюсе была проведена карательная операция, где погибли около 15 человек. В Риге в январе 1991 операция ОМОН кончилась гибелью
нескольких человек. </p>
<p>Если до этих событий в этих странах и была существенная часть населения, сочувствующая советскому режиму, то после того как пролилась кровь их соотечественников почти все потеряли веру
в то, что страна и дальше может оставаться единой. Результатом этих карательных операций стали многотысячные митинги в пользу независимости, вывод советских войск из этих стран и потеря
 их из зоны влияния. Приказ о вводе войск может отдать только главнокомандующий, то есть Горбачев. Советские войска имели опыт подавления демонстраций и не могли не знать, что кровавая
 баня вроде той, что они устроили в Риге или Тбилиси не может не привести к потере доверия к власти. Зачем было обозлять народ? Люди после этого демонстративно выходили хоронить погибших
и требовали выхода из состава СССР.</p>

<h2>Заключение</h2>
<p> Главный аргумент того, что все вышеописанные события произошли по плану США, это то, что все они произошли одновременно, при власти Горбачева.
  Каждому из этих событий есть официальное объяснение, однако если посмотреть на картину в целом, то многое начинает казаться странным. Подозрительны
  одинаковые названия партий, которые организовывали
  миллионные митинги за независимость, подозрительно невмешательство сил правопорядка в сепаратистские движения, подозрителен провал "перестройки"
  , которая имела опыт Китая по переходу на рыночную экономику, подозрительно, что именно в этот период упали цены на нефть, подкосив советскую экономику.</p>
  <p>Многие скажут, что если бы описанное выше было бы правдой, об этом бы кричали на всех углах. Кричали бы историки, российское правительство, пресса. Однако, если
  американцам и правда удалось развалить СССР, напичкав его руководство шпионами, то как легко такое признать? Признать, что после 45 лет Холодной войны США смогли
внедрить шпионов на самые высокие посты в стране. На уровне подсознания люди об этом догадываются. Многие в постсоветских странах считают Горбачева предателем,
 а ГКЧП открыто против него выступил, назвав изменником. И все же сложно произнести вслух такую версию, так как многим она покажется радикальной.</p>

<p>Горбачев вывел войска из Афганистана, позволил пасть Берлинской стене под обещание нераспространения НАТО на восток (которое было нарушено).
    Под занавес этой истории Горбачев получает Нобелевскую премию мира. Сам он утверждает, что ничего сделать было нельзя, что СССР развалился бы. Но можно было бы
    реформы, которые готовились с начала 80-х, провести эффективнее; нужно было не допустить сепаратизм на своей территории, ведь он означал
    бессилие центральной власти и разложение государства; можно было бы выторговать лучшие условия при согласии на объединение Германии. У СССР был опыт в подобных
     вопросах. Сталин не стал бы даже церемониться с сепаратными явлениями, не допустил бы отторжения территорий. Либо Горбачев тотально провалился, либо предал свою страну.
      Я сторонник развала СССР, однако хотел бы знать правду о том, как зародились межнациональные конфликты на территории Советского Союза, унесшие тысячи жизней в том
      числе и моих соотечественников.
</p>
<h3>Список использованной литературы:</h3>
<h4>Цитаты и источники</h4>
 <ol>
   <li><a href="https://www.cfr.org/timeline/oil-dependence-and-us-foreign-policy" target="_blank">
   Статья организации "Совет по международным отношениям" о влиянии внешней политики США на цены на нефть</a></li>
   <li><a href="https://www.brookings.edu/wp-content/uploads/2016/06/Falling-Oil-Prices-English.pdf" target="_blank">
     Статья научного центра <span style="font-family:Palatino Linotype">"Brookings Doha Center"</span> о влиянии геополитики на падение цен на нефть</a> </li>

   <li>Книга Томаса де Ваала "Черный сад. Армения и Азербайджан между миром и войной." Глава 6, Черный январь. Часть первая.</li>
 </ol>
 <h4>Ссылки</h4>
 <ol>
   <li><a href="https://www.cia.gov/library/readingroom/docs/DOC_0000499825.pdf" target="_blank">
   Отчет ЦРУ о низкой производительности в экономике СССР</a></li>
   <li><a href="https://www.bbc.com/ukrainian/ukraine_in_russian/2016/04/160430_ru_s_foreign_press"
     target="_blank">
   Статья на британском сайте новостей <span style="font-family:Palatino Linotype">BBC</span> о влиянии Чернобыльской трагедии на падение СССР</a></li>
   <li><a href="https://www.vedomosti.ru/opinion/articles/2016/04/26/639088-predelnaya-doza-sovetskogo-soyuza" target="_blank">
   Статья в "Ведомости" об ускорении распада СССР вследствие Чернобыльской аварии</a></li>
   <li><a href="http://www.estonica.org/ru/%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9_%D1%84%D1%80%D0%BE%D0%BD%D1%82_Rahvarinne/ "target="_blank">
   Энкицлопедия "Эстоника"</a></li>
   <li><a href="https://carnegieendowment.org/files/pub-35864.pdf "target="_blank">
   Книга Московского Центра Карнеги: "Время Юга. Россия в Чечне. Чечня в России."</a></li>
   <li><a href="https://ru.wikipedia.org/" target="_blank">
   Энкицлопедия "Википедия"</a></li>
   <li><a href="https://www.nationalgeographic.com/culture/topics/reference/chernobyl-disaster/" target="_blank">
   Статья в журнале "National Geographic" о Чернобыльской аварии</a></li>
   <li><a href="https://echo.msk.ru/programs/albac/44499/" target="_blank">
   Интервью с Егором Гайдаром (и.о. председателя Правительства РФ в 1992) в радио "Эхо Москвы"</a></li>
   <li><a href="http://alternathistory.com/pochemu-provalilas-perestrojka/" target="_blank">
   Статья "Как провалилась перестройка" на сайте "Альтернативная История"</a></li>
 </ol>
</body>
 {% endblock %}
