<!DOCTYPE html>
{% extends "wpb/base.html" %}
    {% block body_block%}

<title>Как спрятать правду среди лжи</title>
<body style="font-family:Palatino Linotype">
<h1>Как спрятать правду среди лжиzz</h1>
<p>Сильные мира сего нуждаются в том, чтобы скрывать правду от масс. Правду о преступлениях, которые они творят, богатстве, которое они
скопили, реальной власти, которую они имеют. Зачем? Потому что всегда найдется куча любителей закона и правды, которые захотят с них спросить.
или хотя бы социалистов, которые хотят равного распределения доходов (взять хотя бы скандинавские страны с их 70%-ми налогами). Проблема в том,
 что правду не так то легко скрыть. Популярны слова Авраама Линкольна на этот счет: "Можно всё время дурачить некоторых, можно некоторое время дурачить всех, но нельзя всё время дурачить всех.".
 По натуре своей человеку сложно лгать. Ложь неестественна и для ее создания человеку необходимо проявлять креативность. Хранить ее тоже нелегко.
 Кто-то скажет бликому человеку, тот другому и по цепочке правда вскоре вскроется. Тогда что делать? Как скрыть правду, если она все равно рано
 или поздно выйдет?</p>
 <p>Есть три способа:</p>
 <ul>
   <li>Примешать к правде примесь чего-то невероятного</li>
   <li>Изменить правду, добавив туда выгодные тебе детали</li>
   <li>Опорочить того, кто говорит правду</li>
 </ul>
<h4>
  Примешать примесь невероятной лжи</h4>
<p>Представьте источник, описывающий правдивые события и добавляющий туда причасность НЛО. Обычный человек на этом месте перестанет читать. Он скажет,
 что раз тут такая глупость как пришельцы, то правды тут и искать не стоит. Вы скажете, что публиковать правду без примеси невероятного будут и
другие, нормальные издания, прочтя которые, люди узнают правду. Тут вступает в силу теория контролируемого урона. Люди, обладающие властью, знают,
что правда и так
раскроется, поэтому лучше первому о ней заговорить, только примешать к ней невероятную ложь. После "лживой версии" правды люди не захотят слушать другие
 версии.</p>

 <h4>Стать первоисточником "правды"</h4>
 <p>В этом способе теория контролируемого урона особенна полезна. Одно есть дать правде распространиться, тогда люди уже успеют составить мнение,
  другое есть первым дать людям свою версию. Люди поверят тебе как первоисточнику. Часть людей позже все равно поверит более правдивым версиям,
 но "урон" можно будет смягчить.</p>
 <h4>Опорочить говорящего истину</h4>
 <p>Этот способ наверное все слышали часто из СМИ или в кино. Так правительства часто обвиняют простестующих в том, что они наркоманы, праздные
  и так далее. Если не дай Бог что-то из этого правда, то этих людей не многие станут слушать. Людям свойственно вешать ярлыки. Показания проститутки
по поводу убийства на суде далеко не все присяжные воспримут всерьез. Люди не пойдут за оппозицией, если за ним есть хоть какой-то грех, пусть даже
 и тот, который водится за многими из самого народа, пусть даже если правительство имеет грехи в десять раз хуже.</p>
</body>

   {% endblock %}
